
.container {
    display: flex;
    
}


.steper{
    margin: 1.5rem 0px;
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column; /* Stack steps vertically on small screens */
        align-items: flex-start;

      
      }

    }

