@use '@carbon/colors' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/layout' as *;
@use '@carbon/themes' as *;

.heading {
  @include type-style('heading-03');
  font-weight: 600;
  text-align: center;
  padding-bottom: $spacing-01;
  margin: $spacing-03 0px;
}

.subheading{
  @include type-style('body-compact-02');
  text-align: center;
  margin: $spacing-03 0px;
}

.radioContainer{
  padding-top: 1rem;
}

.radio_btn{
   padding-top: 0.5rem;
}