@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/layout';

.container {
  background-color: #ffffff; 
  margin: $spacing-10 auto;
}

.children {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth_logo{
  margin-bottom: $spacing-05;
}

.auth_heading_container{
  margin-bottom: $spacing-05;
}

.auth_heading {
  @include type-style('heading-03');
  font-weight: 600;
  text-align: center;
  padding-bottom: $spacing-01;
}

.auth_description {
  @include type-style('body-01');
  text-align: center
}

.auth_form_container {
  width: 100%;
  margin: layout.$spacing-05 layout.$spacing-05;
  gap: $spacing-05;
}

.auth_input_field {
  border: none;
}

.auth_link {
  @include type-style('heading-compact-01');
  text-align: right; 
  text-decoration: none;
  max-width: fit-content;

  &:hover {
    text-decoration: underline;
  }
}

.auth_options {
  display: flex;
  align-items: center;
  gap: $spacing-05;

  & p {
    @include type-style('body-01');
    flex: 0 1 auto; 
    text-align: center;
  }

  & img {
    @media screen and (max-width: 768px) {
      width: 80px;
    }
  }
}

.auth_socials_container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: $spacing-05;
  margin: layout.$spacing-05 0px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.auth_socials_tile {
  width: 100%;
  display: flex;
  align-items: center;
  gap: $spacing-04;

  & p {
    @include type-style('heading-compact-01');
  }
}