@use '@carbon/react/scss/spacing' as *;

.container {
  min-height: 100vh; 
  display: flex;
  justify-items: center;
  background-color: #ffffff; 
}

.center {
  margin: $spacing-10 auto;
  width: 100%;
  max-width: 600px;
}

.children {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authHeaderSvg {
  margin-bottom: $spacing-05;
}