@use '@carbon/colors' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/layout' as *;
@use '@carbon/themes' as *;

.heading {
  @include type-style('heading-03');
  font-weight: 600;
  text-align: center;
  padding-bottom: $spacing-01;
  margin: $spacing-03 0px;
}


.subheading{
  @include type-style('body-compact-02');
  text-align: center;
  margin: $spacing-03 0px;
}


.setup_image {
    width: 100%;
    height: fit-content;
    padding-bottom: $spacing-06;
}

.fileupload {
    max-inline-size: 100%;   
    margin-bottom: $spacing-04;
}


.org_container {
    display: flex;
    justify-content: space-between;
  
}
.org_name{
    @include type-style('helper-text-02');
   
}

.org_color_code{
    @include type-style('helper-text-02'); 
    color: $text-secondary; 
}

.addcolor_container{
    display: flex;
    align-items: center;
    padding: $spacing-03 0;
}

.addcolor{
    @include type-style('body-compact-02');
    font-weight: 600;
    text-align: center;   
    color:#0F62FE;
    cursor: pointer;
}

.removecolor{
    @include type-style('body-compact-02');
    font-weight: 600;
    text-align: center;   
    color: #DA1E28;
    cursor: pointer;
}

.submit_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $spacing-07;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: $spacing-04;
      padding-top: $spacing-04;
    }
  }
  
 
  .skip_text{
    @include type-style('helper-text-02');
    color: #0F62FE;
    
  }
  
  
  .button {
    @media screen and (max-width: 768px) {
     width: 100%;
   }
   }

   .main_org_container{
    display: flex;
    gap: $spacing-03
   }

   .flex_div{
    display: flex;
    align-items: center;
   }

   .hide_div{
    display: none;
   }