.tile {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
    // background-color: $layer-02;
    // border: 1px solid $border-subtle-00; 
    margin:  1rem 0px;
      
}

.tile_flex{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.product_logo{
    max-width: 100%;
    display: block;
    margin-right: 0.5rem;
}

.heading{
    font-size: 1.5rem;
    line-height: 1.4
}

.body {
    font-size: 0.75rem;
}

.features{
    font-size: 0.75rem;
    width: max-content;
    color: #4589ff; 
    margin-left: 0.25rem;
    cursor: pointer;
    @media screen and (max-width: 768px) {
        width: min-content
      }
}