@use '@carbon/colors' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/layout' as *;
@use '@carbon/themes' as *;

.heading {
  @include type-style('heading-03');
  font-weight: 600;
  text-align: center;
  padding-bottom: $spacing-01;
  margin: $spacing-03 0px;
}

.subheading{
  @include type-style('body-compact-02');
  text-align: center;
  margin: $spacing-03 0px;
}

.text_body {
  @include type-style('body-02');
  margin: $spacing-03 0px;
}

.pricing_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricing {
  display: flex;
  align-items: baseline;
  flex-grow: 3;
}

.currency{
  @include type-style('helper-text-02');
  color: $text-placeholder;
  padding-left: $spacing-06;
  @media screen and (max-width: 768px) {
    padding-left: $spacing-02;
   
  }
}

.amount {
  @include type-style('heading-04');
  font-weight: 600;
  @media screen and (max-width: 768px) {
    @include type-style('heading-02');
  }
}

.currency_text{
  @include type-style('helper-text-02');
  color: $text-placeholder;
  
}

.tile_padding{
  padding: 0;
  min-height: fit-content;
}
