.heading {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
  text-align: center;
  padding-bottom: 0.125rem;
  margin: 0.5rem 0px;
}

.subheading{
  font-size: 1rem;
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem 0px;
}

.notice_container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: #E0FFFF;
  padding: 0.25rem 0.5rem;
  margin: 2rem 0;

  p {
    font-size: 0.75rem;
    text-align: left
  }

}
.text_body {
  font-size: 1rem;
  line-height: 1.428;
  margin: 0.5rem 0px;
}

// .pricing_container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .pricing {
//   display: flex;
//   align-items: baseline;
//   flex-grow: 3;
// }

// .currency{
//   @include type-style('helper-text-02');
//   color: $text-placeholder;
//   padding-left: $spacing-06;
//   @media screen and (max-width: 768px) {
//     padding-left: $spacing-02;
   
//   }
// }

// .amount {
//   @include type-style('heading-04');
//   font-weight: 600;
//   @media screen and (max-width: 768px) {
//     @include type-style('heading-02');
//   }
// }

// .currency_text{
//   @include type-style('helper-text-02');
//   color: $text-placeholder;
  
// }

// .tile_padding{
//   padding: 0;
//   min-height: fit-content;
// }
