@use '@carbon/colors';
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/layout';



.onboard_heading {
  @include type-style('heading-03');
  font-weight: 600;
  text-align: center;
  padding-bottom: $spacing-01;
  margin: $spacing-03 0px;
}


.onboard_subheading{
  @include type-style('body-compact-02');
  text-align: center;
}

.button_container{
  display: flex;
  justify-content: flex-end;
 }
 .button {
  width: 50%;
  @media screen and (max-width: 768px) {
    width: 100%; 
    max-width: 100%; 
    display: block; 
    margin: 0 auto; 
    text-align: center;
   
  }
 }

 .errorToast{
  margin:  $spacing-03 auto;
 
 }
