@use '@carbon/colors' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/layout' as *;
@use '@carbon/themes' as *;

.heading {
    font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
  text-align: center;
  padding-bottom: 0.125rem;
  margin: 0.5rem 0px;
}


.subheading{
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem 0px;
}


.setup_image {
    width: 100%;
    height: fit-content;
    padding-bottom: 1.5rem;
}

.fileupload {
    max-inline-size: 100%;   
    margin-bottom: 0.75rem;
}


.org_container {
    display: flex;
    justify-content: space-between;
  
}
.org_name{
          font-size: 0.875rem;
      line-height: 1.28572;
   
}

.org_color_code{
          font-size: 0.875rem;
      line-height: 1.28572; 
    color: $text-secondary; 
}

.addcolor_container{
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.addcolor{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;   
    color:#0F62FE;
    cursor: pointer;
}

.removecolor{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;   
    color: #DA1E28;
    cursor: pointer;
}

.submit_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 0.75rem;
      padding-top: 0.75rem;
    }
  }
  
 
  .skip_text{
          font-size: 0.875rem;
      line-height: 1.28572;
    color: #0F62FE;
    
  }
  
  
  .button {
    @media screen and (max-width: 768px) {
     width: 100%;
   }
   }

   .main_org_container{
    display: flex;
    gap: 0.5rem
   }

   .flex_div{
    display: flex;
    align-items: center;
   }

   .hide_div{
    display: none;
   }