@use '@carbon/colors' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/layout' as *;
@use '@carbon/themes' as *;

.input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // align-items: baseline;
  height: $spacing-11;
  margin-top: $spacing-06;
  background-color: #F4F4F4;
  gap: $spacing-01

}

.icon_container ,
.icon_container:hover
{
  background-color: #F4F4F4;
  padding: $spacing-06;
 cursor: pointer;

}

.input{
  flex-grow: 1;
}

.input_label{
  @include type-style('helper-text-02');
  background-color: #F4F4F4;
}

.amount_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: $spacing-04;
}

.amount_text{
  @include type-style('body-02');
}

.amount_text_bold{
  @include type-style('body-02');
  font-weight: 600;
}

/* Hide spinners for Webkit browsers (Chrome, Safari, Edge) */
.no_spinner::-webkit-inner-spin-button, 
.no_spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.no_spinner {
  -moz-appearance: textfield;
  appearance: textfield; /* General */
}

/* Prevent spinners on hover/focus in Webkit browsers */
.no_spinner:focus::-webkit-inner-spin-button, 
.no_spinner:focus::-webkit-outer-spin-button, 
.no_spinner:hover::-webkit-inner-spin-button, 
.no_spinner:hover::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
