
.input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // align-items: baseline;
  height: 5rem;
  margin-top: 1.5rem;
  background-color: #F4F4F4;
  gap: 0.125rem

}

.icon_container ,
.icon_container:hover
{
  background-color: #F4F4F4;
  padding: 1.5rem;
 cursor: pointer;

}

.input{
  flex-grow: 1;
}

.input_label{
        font-size: 0.875rem;
      line-height: 1.28572;
  background-color: #F4F4F4;
}

.amount_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.75rem;
}

.amount_text{
      font-size: 1rem;
    line-height: 1.5;
}

.amount_text_bold{
      font-size: 1rem;
    line-height: 1.5;
  font-weight: 600;
}

/* Hide spinners for Webkit browsers (Chrome, Safari, Edge) */
.no_spinner::-webkit-inner-spin-button, 
.no_spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.no_spinner {
  -moz-appearance: textfield;
  appearance: textfield; /* General */
}

/* Prevent spinners on hover/focus in Webkit browsers */
.no_spinner:focus::-webkit-inner-spin-button, 
.no_spinner:focus::-webkit-outer-spin-button, 
.no_spinner:hover::-webkit-inner-spin-button, 
.no_spinner:hover::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
